/* ===============================
   RESET (PRONTO)
=============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/* ===============================
   🎯 DESAFIO 2 (CSS)
   👉 Criar variáveis de cor
=============================== */
:root {
    /* TODO: criar cores do projeto */
    --Cor_principal:#00A53C;
    --cor_secundaria:rgba(0,165,60,0.48);
    --background-color:#000000;

}

/* ===============================
   BODY (PRONTO)
=============================== */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px 20px;

    /* TODO: adicionar background bonito */
}

/* ===============================
   CONTAINER (BASE PRONTA)
=============================== */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--background-color);
}

/* ===============================
   🎯 DESAFIO 3 (CSS)
   👉 Estilizar HEADER
=============================== */
.header {
    text-align: center;
}

/* ===============================
   🎯 DESAFIO 4 (CSS)
   👉 Criar layout dos CARDS
=============================== */
.stats {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px greenyellow;
        border-radius: 8px;
        width: 100%;
    }
}

/* ===============================
   ADD TASK (BASE)
=============================== */
.add-task {
    display: flex;
    gap: 10px;
}

.add-task input {
    flex: 1;
    padding: 10px;
}

.btn-add {
    cursor: pointer;
}

/* ===============================
   🎯 DESAFIO 5 (CSS)
   👉 Estilizar filtros
=============================== */
.filters {
    margin: 20px 0;
}

/* ===============================
   🎯 DESAFIO 6 (CSS)
   👉 Estilizar tarefas
=============================== */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Classe importante (JS usa!) */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.card {
     width: 321px;
     height: 121px;
     border-radius: 20px;
     display: flex;
     gap:15px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--cor_secundaria);
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--cor_secundaria);
    }

}